# ignore folder containing save of old files
old/

# ignore all build files. To build, look at documentation
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# ignore production files etc.
*.DS_Store
*.so
.idea/
Project.cbp
