# ignore folder containing save of old files
old/

# ignore Ipe drawings for testing
Ipe_drawings/

# ignore img (used in documentation)
img/*

# ignore all build files. To build, look at documentation
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# ignore production files etc.
*.DS_Store
*.so
.idea/
Project.cbp

# ignore LaTeX typsetting files
*.aux
*.log
*.out
*.synctex.gz
